<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lesliewang.demo">
    <!-- 权限 -->

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 连接网络权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 获取手机录音机使用权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 改变wifi权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /><!-- 振动权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ArticleActivity"></activity>
        <activity android:name=".activity.GoogleActivity" />
        <activity android:name=".activity.ChineseActivity" /> <!-- android P 默认所有的http请求都被阻止了 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">

            <!-- Intent 过滤器  主活动 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".query.CambridgeActivity"
            android:screenOrientation="portrait" /> <!-- 弹出键盘不会自动压缩 -->
        <activity
            android:name=".note.NoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" /> <!-- 横屏 -->
        <activity
            android:name=".activity.ScienceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>